<ol class="breadcrumb">
  <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
  <li class="breadcrumb-item"><a [routerLink]="['/project']">Projects</a></li>
  <li class="breadcrumb-item active"></li>
</ol>

<!--List Options with Data starts here-->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div *ngIf="!viewProject" class="col-10">
      <h2>List of Projects</h2>
      <ul *ngFor="let p of projects" class="list-group">
        <li
          class="list-group-item ">
          <div class="card border-primary mb-3">
            <div class="card-header">{{p.id}}. {{p.projectName}}</div>
            <div class="card-body">
              <p>Modules under this project are</p>
              <h6 *ngFor="let m of p.modules" class="card-title">> {{m.moduleName}}</h6>
              <footer class="blockquote-footer">Created by {{p.createdby}} on  <cite title="Source Title">{{p.createdOn |date:'mediumDate'}}</cite></footer>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>
</div>
<!--List Options with Data Ends here-->
