<ol class="breadcrumb">
    <li class="breadcrumb-item"><a [routerLink]="['/home']">Home</a></li>
    <li class="breadcrumb-item"><a [routerLink]="['/modules']">Modules</a></li>
    <li class="breadcrumb-item active"></li>
  </ol>
  
  <!--List Options with Data starts here-->
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div *ngIf="!viewProject" class="col-7">
      <h2>List of Modules</h2>
      <ul *ngFor="let m of modules" class="list-group">
        <li class="list-group-item ">
          <div class="card border-primary mb-3" >
            <div class="card-header"><strong>{{m.id}}. {{m.moduleName}}</strong> under Project {{m.projects.projectName}}
              <footer class="blockquote-footer">Created by {{m.createdby}} on  <cite title="Source Titsle">{{m.createdOn |date:'mediumDate'}}</cite></footer>
              <div class="card-body">
                <button type="button" class="btn btn-primary btn-sm">Edit</button>
              </div>
            </div>  
          </div>
        </li>
      </ul>
    </div>
    <div class="col"></div>
  </div>
</div>
<!--List Options with Data Ends here-->